.nav{
  display:flex;
  justify-content: space-between;
}
.nav-items{
  list-style: none;
  display:flex;
}

.nav-items > li{
  padding:10px;
  font-size:large;
}

  
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.main-content > li{
     padding:20px;
     font-size: larger;
}
