body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}


nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--text, .nav--title {
  margin: 0;
}

.nav--text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 40px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 80px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/react-large-logo.png);
  background-repeat: no-repeat;
  background-position-x: right ;
  background-position-y: 0%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

